.contacto{
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    width: 75%; 
    gap: 25px; 
    margin: 0 auto; 
    flex-wrap: nowrap;
}
.carouselContacto{
    width: 75%; 
    margin: 0 auto;
}