
.equipo img{
    width: 90%;
    height: 600px;
    border-radius: 5px;
}
.sectionGridAreaEquipo{
    background-color: map-get($colores, fondo );
    padding: 0 5%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "area1 area3"
        "area2 area4";
    gap: 25px;

}
.gridArea1 {
    grid-area: area1;
}
.gridArea2 {
    grid-area: area2;
}
.gridArea3 {
    grid-area: area3;
}
.gridArea4 {
    grid-area: area4;
}
.descripcionEquipo{
    font-size: 1.5rem;
}
@media (max-width: 768px){
    .sectionGridAreaEquipo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
           "area1"
           "area2"
           "area3"
           "area4";
    }
    }