
  
.sectionGridArea {
    background-color: map-get($colores, fondo );
    padding: 0 5%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "area1 area2"
        "area3 area4"
        "area5 area6"
        "area7 area8";
    gap: 20px;

}
.gridArea1 {
    grid-area: area1;
}
.gridArea2 {
    grid-area: area2;
}
.gridArea3 {
    grid-area: area3;
}
.gridArea4 {
    grid-area: area4;
}
.gridArea5 {
    grid-area: area5;
}
.gridArea6 {
    grid-area: area6;
}
.gridArea7 {
    grid-area: area7;
}
.gridArea8 {
    grid-area: area8;
}

.subtitle{
    @include flex(flex, row, center);
    align-items: center;
    font-size: 25px;
    margin-bottom: 10px;
    text-decoration: underline;
}
@media (max-width: 768px){
    .sectionGridArea {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        grid-template-areas: 
            "area1"
            "area2"
            "area4"
            "area3"
            "area5"
            "area6"
            "area8"
            "area7";
    }
    }